.App {
  text-align: center;
}



.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



#delete {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#hist {
  height: 90%;
  overflow: auto;
}

#clearButtons {

  width: 33%;
}

