

.title{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  margin-bottom: 10px;
  margin: 0px;
  text-align:center;
  width: 210px;
  color:grey;
  }

  input[type="button"]
  {
    font-size: 3vmin;
  background-color:grey;
  color: black;
  height: 100%;
  width:100%
  }

  input[type="text"]
  {
  

  background-color:black;
  color: black;
  width:100%;
  max-width: 100px;

  

  }

  #ham {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  #maxwidth {
    max-width: 150px;
  }

  #result {
    font-size: 3vmin;
    color: black

  }

  .calculator {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  
  #width12 {
    width: 70%;
    z-index: 9;
  }

  
.history {
  position: relative;
  margin-top: 57px;
  margin-left: 57px;
  height: 100%;
  width: 200%;
  color: black;
  border:1px solid black;
  overflow: auto;
  background-color: white;
}
  @media only screen and (max-width: 576px) {
    .calculator {
      width: 300px;
      display: grid;
    }
    .history {
      position: relative;
      height: 50%;
      width: 163%;
      margin-left: 0px;
      margin-top: 160px;
      border:1px solid black;
      overflow: auto;
      color: black;
      background-color: white;
    }

    #width12 {
      width: 164%;
    }
    
  }

 
  
  .maintable {
        height: 100%;
        width: 100%;
    }

   

